@tailwind base;
@tailwind components;
@tailwind utilities;

#individualday {
    display: grid;
    grid-template-columns: 70px 40px 60px 5fr 60px;
}

.coloring {
    color: white;
}

.bgimg-sky {
    background-image: url('./Images/veronika-galkina-unsplash.jpg');
    background-size: 450vw;
}

.bgimg-cloudy {
    background-image: url('./Images/lucas-carl-unsplash.jpg');
    background-size: 450vw;
}

.bgimg-overcast {
    background-image: url('./Images/joshua-reddekopp-unsplash.jpg');
    background-size: 450vw;
}

.bgimg-rain {
    background-image: url('./Images/raul-angel-unsplash.jpg');
    background-size: 450vw;
}

.bgimg-snow {
    background-image: url('./Images/jessica-fadel-unsplash.jpg');
    background-size: 450vw;
}

.bgimg-thunder {
    background-image: url('./Images/michal-mancewicz-unsplash.jpg');
    background-size: 450vw;
}

.bgimg-home {
    background-image: url('./Images/taylor-van-riper-unsplash.jpg');
    background-size: 250vw;
}

#searchbutton {
    color: black;
}

#searchbutton2 {
    color: white;
}

.loading {
    height: 100%;
    width: 100%;
    background-image: url('./Images/loading.gif');
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
}